@charset "UTF-8";
@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf);
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #84E1AD;
}

header{
    background-image: linear-gradient(#3AD07E, #1A5C38);
    box-shadow: 0px 2px 25px rgba(128, 128, 128, 0.658);
}

header > nav{
    background-color: #217244;
    display: flex;
    color: white;
    list-style: none;
    height: 35px;
}

header > nav > a{
    padding: 5px;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

header > nav > a:hover{
    background-color: #3AD07E;
    color: #1A5C38;
    border-radius: 5px;
}

.tema{
    margin: 0px;
    padding: 15px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 2.5em;
    text-shadow: 0px 1px 15px grey;
}

header p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 0px 1px 15px grey;
    padding: 5px;
    margin: 15px;
}

main{
    background-color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.342);
    min-width: 300px;
    max-width: 1000px;
    margin-bottom: 20px;
    border-radius: 0 0px 10px 10px;
}

main h1{
    font-size: 2.5em;
}

main img{
    width: 100%;
}

main img.pequena{
    margin: auto;
    max-width: 350px;
    display: block;
}

main .destaque{
    font-weight: 800;
    color: #227246 ;
    text-decoration: none;
}

main a:hover{
    background-color: #278853;
    color: white;
    border-radius: 5px;
    padding: 2px;
}

main .conteudo h1{
    font-family: idroid, sans-serif;
    color: #1A5C38;
    padding: 10px 0 10px 0;
}

main .conteudo h2{
    font-family: idroid, sans-serif;
    color: #1A5C38;
    margin: 10px 0 0 0;
    padding-left: 10px;
    background-image: linear-gradient(to right,#84E1AD , transparent);
}

main .conteudo p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 0px 15px 0;
    font-size: 1.2em;
    line-height: 1.5em;
}

p.indent{
    text-indent: 20px;
}

.video{
    margin: 0 -20px 20px -20px;
    padding: 20px;
    background-color: #1A5C38;
    padding-bottom: 59%;
    position: relative;
}

div.video iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: #84E1AD;
    margin-top: 10px;
    border-radius: 10px;  
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.212);
}

aside h3{
    padding: 10px ;
    background-color: #1A5C38;
    color: #fff;
    width: auto;
    border-radius: 10px 10px 0 0;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

aside p{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

aside ul{
    list-style: none;
}

aside div.lista{
    display: flex;
    justify-content: space-around;
}

#p-final{
    margin-top: 15px;
    padding: 10px;
}

footer{
    text-align: center;
    background-color: #1A5C38;
    color: white;
    margin-bottom: 0;
}

footer p{
    margin: 0;
}

footer a{
    text-decoration: none;
    color: white;
}