@charset "UTF-8";

body{
    background-color: rgb(90, 185, 181);
}
h1{
    color: darkred;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: lightgreen;
    border-radius: 10%;
    text-align: center;
}
h2{
    color: darkcyan;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightsalmon;
    border-radius: 6%;
    text-align: center;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 18px;
}